/*
  COLOR SCHEME
    - orange: #e53d00
    - yellow: #ffe900
    - white: #fcfff7
    - light green: #21a0a0
    - dark green: #046865
*/

@font-face {
  font-family: Asenine;
  src: url(/at.ttf);
}

html, body {
  background-color: #E53D00;
  color: #FCFFF7;
  font-family: Asenine, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: .1em;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, section {
  padding: 1rem 0;
}

h3 {
  font-size: 2rem;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFE900;
}

div.content {
  box-sizing: border-box;
  margin: 0 auto;
  width: 800px;
}

section:nth-child(4n+2) {
  background-color: #046865;
}

section:nth-child(4n+2) a, section:nth-child(4n+2) a:visited {
  color: #FCFFF7;
}

section:nth-child(4n+2) a:active, section:nth-child(4n+2) a:hover {
  color: #E53D00;
}

section:nth-child(4n+3) {
  background-color: #21A0A0;
}

section:nth-child(4n+0) {
  background-color: #FCFFF7;
  color: black;
}

section:nth-child(4n+1) {
  background-color: #E53D00;
}

section:nth-child(4n+1) a, section:nth-child(4n+1) a:visited {
  color: #FCFFF7;
}

section:nth-child(4n+1) a:active, section:nth-child(4n+1) a:hover {
  color: #21A0A0;
}

section#work {
  font-style: italic;
}

section#work div.content img {
  max-width: 50%;
}

div#pad-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 22rem;
}

button.pad, button#clear {
  border: .25rem solid #FCFFF7;
  background-color: #FCFFF7;
  box-sizing: border-box;
  font-family: inherit;
  height: 5rem;
  margin: .25rem;
  outline: none;
  width: 5rem;
}

button#clear {
  box-sizing: border-box;
  height: 1.5rem;
  font-size: 1rem;
  letter-spacing: inherit;
}

button.pad {
  color: #FCFFF7;
  font-size: 2rem;
}

button.pad:active, button#clear:active {
  border-color: #aaa;
}

button.pad#C, span.note-dot.on#C-dot {
  background-color: rgba(0,255,0,0.5);
}

button.pad#D, span.note-dot.on#D-dot {
  background-color: rgba(255,255,0,0.5);
}

button.pad#E, span.note-dot.on#E-dot {
  background-color: rgba(255,0,0,0.5);
}

button.pad#F, span.note-dot.on#F-dot {
  background-color: rgba(255,0,255,0.5);
}

button.pad#G, span.note-dot.on#G-dot {
  background-color: rgba(0,0,255,0.5);
}

button.pad#A, span.note-dot.on#A-dot {
  background-color: rgba(0,255,255,0.5);
}

button.pad#B, span.note-dot.on#B-dot {
  background-color: rgba(0,255,200,0.5);
}

button.pad#C2, span.note-dot.on#C2-dot {
  background-color: rgba(0,255,0,0.5);
}

button.pad#chord {
  display: block;
  margin: .25rem auto;
  padding: 0;
}

button.pad#chord div#dot-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

button.pad#chord span.note-dot {
  height: 50%;
  width: 25%;
}

section#bio div.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img#headshot {
  border-radius: 1rem;
  margin-right: 1rem;
  max-width: 350px;
}

div#bio-text {
  text-align: left;
}

section#contact a {
}
